.wrapper 
  = render  'side'
  .main_contents
    .main_header
      .current_group
        %h2.current_group__name
          dd
        %ul.current_group__member_list
          Member : 
          %li.current_group__member_list--member
            gg
      = link_to root_path do
        .current_group__main_header_edit_btn
          Edit
    .messages
      = render 'message'
      = render 'message2'
      = render 'message3'
    .form
      %form.new-message{accept_charset: "UTF-8", action: "/groups/1552/messages", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}
        %input{name: "authenticity_token", type: "hidden", value: "tFhRzz4CfB4sGRZvfbLGg7kEsI3e64S0jl/G5tl+V4ecwzyTxilvW5XRDOgCgmxsQ6gH0FOlB5RWM6c5FV1TWA=="}
        .input_box
          %input.input_box__text{name: "message[content]", placeholder: "type a message", type: "text"}
          %label.input_box__image_label{for: "message_image"}
            %i.input_box__image_label--fa.fa-image
            %input.input_box__image_label--input{name: "message[image]", id: "message_image", type: "file"}
        %input.input_box__new-message__submit-btn{data_disable_with: "Send", name: "commit", type: "submit", value: "Send"}

