.wrapper 
  = render  'side'
  .main_contents
    .main_header
      .current_group
        %h2.current_group__name
          = @group.name
        %ul.current_group__member_list
          Member:
          %li.current_group__member_list--member
            - @group.users.each do |user| 
              = user.name
      = link_to edit_group_path(current_user) do
        .current_group__main_header_edit_btn
          Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        .input_box
          = f.text_field :text, placeholder: "type a message" , class: "input_box__text" 
          = f.label :image do
            .input_box__image_label--fa.fa-image
            = f.file_field :image, class: "input_box__input"
        = f.submit "Send", class: "input_box__new-message__submit-btn"
      


//クラス名に応じてSCSSを当てている。form_forの時はどうやってクラスを持たせるのか？
//form_forの記述をhamlで行う場合に、属性に属性値を持たせるための記述方法がわからない→自動で設定されない自分で設定する場合は:は右に。自動に任せる場合は左に書く